body{
    background-color: black;
}
nav{
    background-color: rgb(4, 175, 175);
    transition-duration: 2s;
}
*{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
    box-sizing: content-box;
}
ul{
    width: 50%;
    margin: auto;
    text-align: center;
    
  }
  li{
    color: white;
    display: inline-block;
    cursor: pointer;
    padding: 30px;
   
}
li:hover{
    background-color: rgb(0, 0, 0);
}
.img{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
img{
    margin:10px;
    width:450px;
    height: 450px;
    cursor:pointer;
}
img:hover{
    transform: scale(1.4);
    transition-duration: 2s;
}